extends layout

block css
    link(rel="stylesheet", href="/vendor/leaflet/leaflet.css")
    link(rel="stylesheet", href="/css/home.css")

block js
    script(src="/vendor/leaflet/leaflet.js")
    script(src="/vendor/leaflet/L.Map.Sync.js")
    script(src="/js/home.js")

block content
    #map_our
    #map_std
