body
    background-color: #efefef
    color: #333
    font-size: 14px
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif
    line-height: 1.5

.debug_coords_tile
    font-size 24px
    font-family Monaco, monospace
    display flex
    justify-content center
    align-items center
    outline 1px solid #ccc
    color white
    background-color rgba(0, 0, 0, .1)
